<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Thin.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
	</array>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>이 앱을 사용하려면 위치 정보가 필요합니다.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>이 앱을 사용하려면 위치 정보가 필요합니다.</string>

</dict>
</plist>
